$font-family: objektiv-mk1, Lato, sans-serif;
$backColor: #374252;
$foreColor: #91acd4d5;
$aColor:#a3b6d4;

body {
  font-family: $font-family;
  background-color: $backColor;
  color: $foreColor;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

}

header {
  padding: 0.5em 1em;
  background-color: #293850;
  color: $foreColor;
  .website-name {
    text-align: center;
    filter: drop-shadow( 0 0 16px rgba(0, 0, 0, .6));
    h1 {
      padding: 0;
      margin: 0;
      font-size: 4em;
      font-weight: 900;
      font-family: 'Sometype Mono', Lato, system-ui;
    }
  }
  nav {
    ul {
      padding: 0;
      text-align: center;
      li {
        padding: .5em 1em;
        display: inline-block;
        a {
          text-decoration: none;
          color: $aColor;
          background-color: transparent;
          text-transform: uppercase;
        }
      }
    }
  }
}

main {
  float: left;
  p {
    padding: .5rem 1rem;
  }
}

footer {
  ul {
    list-style: none;
    text-align: center;
    li {
      padding: .5em 1em;
      a {
        text-shadow: 0 0 rgba(200, 150, 0, .4);
        color: rgba(255, 204, 43, 1);
      }
    }
  }
}